.img-grid img {
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.img-post {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover
}

#myTab {
    border: none;
}

#home-tab, #profile-tab {
    border: none;
}