.toggle {
    padding: 24px 0;
    gap: 16px;
    display: flex;
    justify-content: center;
}

.img-grid img {
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.row {
   /* margin-top: 42px; */
}

.img-post {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover
}
